/.idea/.gitignore
/starter/cloudstorage/.gitignore
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.github/workflows/manual.yml
/starter/cloudstorage/.mvn/wrapper/maven-wrapper.jar
/starter/cloudstorage/.mvn/wrapper/maven-wrapper.properties
/starter/cloudstorage/.mvn/wrapper/MavenWrapperDownloader.java
/.idea/misc.xml
/.idea/modules.xml
/starter/cloudstorage/mvnw
/starter/cloudstorage/mvnw.cmd
/.idea/nd035-c1-spring-boot-basics-project-starter-master.iml
/.idea/sqldialects.xml
/.idea/uiDesigner.xml
/starter/cloudstorage/upload5m.zip
/.idea/vcs.xml
/starter/cloudstorage/.mvn/wrapper/maven-wrapper.jar
